{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <header class="header">
        <div class="logo">
            <a href="{% url 'index' %}">
                AskPupkin
            </a>
        </div>
        <div class="search-form">
            <form action="{% url 'ask' %}">
                <input class="search-form-input" placeholder="Search" type="text">
                <button class="search-form-button">ASK!</button>
            </form>
        </div>
        <div class="account">
            {% block header %}
            {% endblock %}
        </div>
    </header>
    
    <hr>

    <main class="container">
        <div class="content">

            <div class="main-content">
                {% block content %}
                {% endblock %}
            </div>

            <aside class="sidebar">
                <section class="popular-tags">
                    <h1>Popular Tags</h1>
                    <div class="tags">
                        {% for tag, color in popular_tags %}
                            <a href="{% url 'tag_view' tag.name %}" style="color: {{ color }};">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    </div>
                </section>
                
                <section class="best-members">
                    <h1>Best Members</h1>
                    <ul class="best-members-list">
                        {% for best_member in best_members %}
                            <li><a href="{% url 'tag_view' best_member.user.username %}">{{ best_member.user.username }}</a></li>
                        {% endfor %}
                    </ul>
                </section>
            </aside>

        </div>
    </main>

</body>

</html>