{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AskPupkin</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <header class="header">
        <div class="logo">
            <a href="{% url 'index' %}">
                AskPupkin
            </a>
        </div>

        <div class="search-form">
            <input class="search-form-input" id="search-input" placeholder="Search" type="text">
            <div class="hint" id="search-results"></div>
            <a href="{% url 'ask' %}" class="search-form-button">ASK!</a>
        </div>
        
        <div class="account">
            {% if request.user.is_authenticated %}
                <div class="account-image">
                    <img src="{% if user.profile.avatar %}{{ user.profile.avatar.url }}{% endif %}" alt="Image">
                </div>
                <div class="account-content">
                    <div class="account-name">{{ user.username }}</div>
                    <div class="account-actions">
                        <a href="{% url 'settings' %}">Settings</a>
                        <a href="{% url 'logout' %}">Log out</a>
                    </div>
                </div>                
            {% else %}
                <div class="account-actions">
                    {% if request.path != '/signup/' %}
                        <a href="{% url 'login' %}?next={{ request.path }}">log in</a>
                    {% else %}
                        <a href="{% url 'login' %}">log in</a>
                    {% endif %}
                    <a href="{% url 'signup' %}">register</a>
                </div>
            {% endif %}
        </div>
    </header>
    
    <hr>

    <main class="container">
        <div class="content">

            <div class="main-content">
                {% block content %}
                {% endblock %}
            </div>

            <aside class="sidebar">
                <section class="popular-tags">
                    <h1>Popular Tags</h1>
                    <div class="tags">
                        {% for tag, color in popular_tags %}
                            <a href="{% url 'tag_view' tag.name %}" style="color: {{ color }};">
                                {{ tag.name }}
                            </a>
                        {% endfor %}
                    </div>
                </section>
                
                <section class="best-members">
                    <h1>Best Members</h1>
                    <ul class="best-members-list">
                        {% for best_member in best_members %}
                            <li><a href="{% url 'tag_view' best_member.username %}">{{ best_member.username }}</a></li>
                        {% endfor %}
                    </ul>
                </section>
            </aside>

        </div>
    </main>
    
    <script>
        let timeout;
        const searchInput = document.getElementById('search-input');
        const resultsContainer = document.getElementById('search-results');
    
        searchInput.addEventListener('input', function(event) {
            clearTimeout(timeout);
            const query = event.target.value;
    
            if (query.length >= 3) {
                timeout = setTimeout(function() {
                    fetchSearchResults(query);
                }, 300);
            } else {
                resultsContainer.innerHTML = '';
            }
        });

        searchInput.addEventListener('blur', function() {
            setTimeout(() => {
                resultsContainer.style.display = 'none';
            }, 200);
        });

        searchInput.addEventListener('focus', function() {
            if (resultsContainer.innerHTML.trim() !== '') {
                resultsContainer.style.display = 'block';
            }
        });
    
        function fetchSearchResults(query) {
            fetch(`/search/?query=${query}`)
                .then(response => response.json())
                .then(data => {
                    displaySearchResults(data);
                });
        }
    
        function displaySearchResults(data) {
            resultsContainer.innerHTML = '';
    
            data.results.forEach(item => {
                const resultItem = document.createElement('div');
                resultItem.classList.add('search-result-item');
                resultItem.innerHTML = `<a href="/question/${item.id}/">${item.title}</a>`;
                resultsContainer.appendChild(resultItem);
            });
        }
    </script>
</body>

</html>
