{% extends 'layouts/base.html' %}

{% block content %}

    <div class="title-bar">
        <h1>{{ title }}</h1>
        {% if title == "New Questions" %}
            <a href="{% url 'hot' %}">Hot questions</a>
        {% elif title == "Hot Questions"%}
            <a href="{% url 'index' %}">New questions</a>
        {% endif %}
    </div>
    
    {% for question in questions %}
        {% include 'components/main_card.html' %}
    {% endfor %}

    {% include 'components/pagination.html' %}

{% endblock %}