<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../../static/css/style.css">
</head>

<body>

    <header class="header">
        <div class="logo">
            <a href="index.html">
                AskPupkin
            </a>
        </div>
        <div class="search-form">
            <form action="./ask.html">
                <input class="search-form-input" placeholder="Search" type="text">
                <button class="search-form-button">ASK!</button>
            </form>
        </div>
        <div class="account">
            <div class="account-image">
                <img src="../../static/images/avatar.webp" alt="Image">
            </div>
            <div class="account-content">
                <div class="account-name">Dr. Pepper</div>
                <div class="account-actions">
                    <a href="./settings.html">settings</a>
                    <a href="./login.html">log out</a>
                </div>
            </div>
        </div>
    </header>

    <hr>

    <main class="container">
        <div class="content">

            <div class="main-content">
                <div class="title-bar">
                    <h1>Tag: bender</h1>
                </div>
                
                <article class="card">
                    <div class="card-left">
                        <img src="../static/images/moon.png" alt="Image" class="card-image">
                        <input type="number" class="form-control card-likes" value="5" min="0">
                    </div>
                
                    <div class="card-right">
                        <div class="card-right-content">
                            <h4 class="card-title"><a href="question.html">How to build a moon park ?</a></h4>
                
                            <div class="card-text">Guys, i have trouble with a moon park. Can't find the black-jack...</div>
                        </div>
                
                        <div class="card-right-bottom">
                            <a href="./answers.html">answer (3)</a>
                
                            <div class="card-tags">
                                Tags: 
                                <a href="#">black-jack</a>
                                <a href="#">bender</a>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="card">
                    <div class="card-left">
                        <img src="../static/images/moon.png" alt="Image" class="card-image">
                        <input type="number" class="form-control card-likes" value="5" min="0">
                    </div>
                
                    <div class="card-right">
                        <div class="card-right-content">
                            <h4 class="card-title"><a href="question.html">How to build a moon park ?</a></h4>
                
                            <div class="card-text">Guys, i have trouble with a moon park. Can't find th black-jack...</div>
                        </div>
                
                        <div class="card-right-bottom">
                            <a href="./answers.html">answer (3)</a>
                
                            <div class="card-tags">
                                Tags: 
                                <a href="#">black-jack</a>
                                <a href="#">bender</a>
                            </div>
                        </div>
                    </div>
                </article>

                <article class="card">
                    <div class="card-left">
                        <img src="../static/images/moon.png" alt="Image" class="card-image">
                        <input type="number" class="form-control card-likes" value="5" min="0">
                    </div>
                
                    <div class="card-right">
                        <div class="card-right-content">
                            <h4 class="card-title"><a href="question.html">How to build a moon park ?</a></h4>
                
                            <div class="card-text">Guys, i have trouble with a moon park. Can't find th black-jack...</div>
                        </div>
                
                        <div class="card-right-bottom">
                            <a href="./answers.html">answer (3)</a>
                
                            <div class="card-tags">
                                Tags: 
                                <a href="#">black-jack</a>
                                <a href="#">bender</a>
                            </div>
                        </div>
                    </div>
                </article>
            
                <div class="pagination">
                    <button>1</button>
                    <button>2</button>
                    <button>3</button>
                    <button>...</button>
                    <button>100</button>
                </div>
            </div>

            <aside class="sidebar">
                <section class="popular-tags">
                    <h1>Popular Tags</h1>
                    <div class="tags">
                        <a href="#">perl</a>
                        <a href="#" style="color: #cd1714;">python</a>
                        <a href="#">TechnoPark</a>
                        <a href="#" style="color: #cd1714;">MySQL</a>
                        <a href="#" style="color: #54b250;">django</a>
                        <a href="#">Mail.Ru</a>
                        <a href="#">Voloshin</a>
                        <a href="#" style="color: #ff9f23;">Firefox</a>
                    </div>
                </section>
                <section class="best-members">
                    <h1>Best Members</h1>
                    <ul class="best-members-list">
                        <li><a href="#">Mr. Freeman</a></li>
                        <li><a href="#">Dr. House</a></li>
                        <li><a href="#">Bender</a></li>
                        <li><a href="#">Queen Victoria</a></li>
                        <li><a href="#">V. Pupkin</a></li>
                    </ul>
                </section>
            </aside>

        </div>
    </main>

</body>

</html>