{% load static %}

<article class="card-answer" data-answer-id="{{answer.id}}">
    <div class="card-left">
        <img src="{% static 'images/moon.png' %}" alt="Image" class="card-image">
        <div class="form-group">
            {% if request.user.is_authenticated %}
                <button class="btn {% if answer.user_vote == True %}btn-like active{% else %}btn-like{% endif %}">
                    👍
                </button>
            {% endif %}
            <span class="like-counter">{{ answer.get_rating }}</span>
            {% if request.user.is_authenticated %}
                <button class="btn {% if answer.user_vote == False %}btn-dislike active{% else %}btn-dislike{% endif %}">
                    👎
                </button>
            {% endif %}
        </div>
    </div>

    <div class="card-right">
        <div class="card-right-content">                
            <div class="card-text">{{answer.text}}</div>
        </div>

        <div class="card-right-bottom">
            <label class="correct-label">
                <input type="checkbox" class="correct-checkbox" {% if answer.correctness %}checked{% endif %}
                    {% if question.author != request.user %} disabled {% endif %}>
                Correct!
            </label>
        </div>
    </div>
</article>
