{% load static %}

<article class="card" data-question-id="{{question.id}}">
    <div class="card-left">
        <img src="{% static 'images/moon.png' %}" alt="Image" class="card-image">
        <div class="form-group">
            {% if request.user.is_authenticated %}
                <button class="btn {% if question.user_vote == True %}btn-like active{% else %}btn-like{% endif %}">
                    👍
                </button>
            {% endif %}
                <span class="like-counter">{{ question.get_rating }}</span>
            {% if request.user.is_authenticated %}
                <button class="btn {% if question.user_vote == False %}btn-dislike active{% else %}btn-dislike{% endif %}">
                    👎
                </button>
            {% endif %}
        </div>
    </div>
    

    <div class="card-right">
        <div class="card-right-content">
            <h4 class="card-title">
                <a href="{% url 'question_view' question.id %}">{{ question.title }}</a>
            </h4>

            <div class="card-text">{{ question.text|slice:":75" }}...</div>
        </div>

        <div class="card-right-bottom">
            <a href="{% url 'question_view' question.id %}">answer ({{question.count_answers}})</a>

            <div class="card-tags">
                {% if question.tags.exists %}
                    {% for tag in question.tags.all %}
                        {% if tag.name %}
                            <a href="{% url 'tag_view' tag.name %}">{{ tag.name }}</a>
                        {% endif %}
                    {% endfor %}
                {% endif %}    
            </div>
        </div>
    </div>
</article>